body {
    margin-top: 50px;
}

footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 2px; }
    footer a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

/* smart phones */
@media screen and (max-device-width: 480px) {
}

.row {
    height: 200px;
}

#main_content {
    display: none;
}
#status {
    font-weight: bold;
    font-size: larger;
}
#screen_name {
    color: blue;
}
#timer {
    line-height: 100px;
    font-weight: bold;
    font-size: 100px;
}

#logs {
    height: 200px;
    overflow: auto;
}
